rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /dropInReservations/{reservationDoc} {
      allow read: if resource.data.uid == request.auth.uid;
    }
    match /bookingReservations/{reservationDoc} {
      allow read: if resource.data.uid == request.auth.uid;
    }
    match /locations/{locationDoc}/dropInEvents/{eventDoc} {
      allow read: if true;
    }
    match /locations/{locationDoc}/bookingEvents/{eventDoc} {
      allow read: if true;
    }
  }
}