rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isRequestedByCurrentUser() {
      return resource.data.uid == request.auth.uid;
    }
    match /events/{eventDoc} {
      allow read: if true;
    }
    match /reservations/{reservationDoc} {
      allow read: if isRequestedByCurrentUser();
      allow create: if dataContainsUid(reservationDoc);
    }
  }
}