rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /users/{userDoc}/dropInReservations/{reservationDoc} {
      allow read: if userDoc == request.auth.uid;
    }
    match /users/{userDoc}/bookingReservations/{reservationDoc} {
      allow read: if userDoc == request.auth.uid;
    }
    match /events/{locationDoc}/dropInEvents/{eventDoc} {
      allow read: if true;
    }
    match /events/{locationDoc}/bookingEvents/{eventDoc} {
      allow read: if true;
    }
  }
}